*{
    padding:0;
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #E5E5E5;
}
form {
    padding-top: 100px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formHeader{
    font-size: 54px;
    text-align: center;
}
.formText{
    text-align: center;
}
.inputCont{
    padding-top:20px;
}
.inputContDouble{
 width: 45%;
    display: flex;
    justify-content: space-between;
}
.formInput{
    width:230px;
    height:30px;
    background-color: #224957;
    color: white;
    border-radius:20px;
}
.formInputName{
    width:140px
}
.formInput::placeholder{
    color: white;
}
.signUp{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 45px;
    background-color: #20DF7F;
    box-shadow: #224957;
    border-radius: 10px;
}
.footer{
    padding:0;
    width: 100%;
    height: 100px;
    background: url("../../assets/footer.png") repeat;
    background-size: cover;
}