*{
    padding:0;
    margin:0;
    list-style-type: none;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
    url("./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
}
body{
    font-family: 'Montserrat';
}
/*h1,h2,h3,h4,h5,h6{*/
/*    color: white;*/
/*}*/